<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959885436134-shna0r0dl1ce96rud51m6rf0j2ear2bl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959885436134-shna0r0dl1ce96rud51m6rf0j2ear2bl</string>
	<key>API_KEY</key>
	<string>AIzaSyANQZksvYGdL7a7Y6jxvUk9SD4lKOF1BiE</string>
	<key>GCM_SENDER_ID</key>
	<string>959885436134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appamazonas.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>appas-a4b22</string>
	<key>STORAGE_BUCKET</key>
	<string>appas-a4b22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959885436134:ios:a83b2888930ab7c1a30727</string>
</dict>
</plist>